<h2>Email: <%= @user.email %></h1>
<h2>First Name: <%= @user.first_name %></h1>
<h2>Last Name: <%= @user.last_name %></h1>

  <%= form_for @user do |form| %>
    
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field" id="sign-up", remote: true>
      <%= form.submit %>
    </div>

  <% end %>