<!DOCTYPE html>
<html>
<head>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>


</head>
<body>
  <%= render "layouts/header" %>

  <div class="container">

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%= value %></div>
    <% end %>
  </div>

    <%= yield %>

  <div class="container">
    <%= render "layouts/footer" %>

</body>
</html>
